:root {
    --DefineBgColor: #121212;
    --DefineNavbarColor: rgba(10, 10, 10, 0.795);
    --TextColor: #eee;
    --borderHighlightColor: #3d3d3d;
    --EasyworkHighlightColor: #000;
    --EasyworkHighlight: #F4CFC6;
    --HoverHGbg: #fcf9f8;
    --HoverHGColor: #000;
    --bordernavbarcolor: solid 1px #222;
}

@media (prefers-color-scheme: light) {
    :root {
        --DefineBgColor: #fcf9f8;
        --DefineNavbarColor: #fff;
        --TextColor: #222;
        --borderHighlightColor: #b8b8b8;
        --EasyworkHighlightColor: #F4CFC6;
        --EasyworkHighlight: #000;
        --HoverHGbg: #222;
        --HoverHGColor: #FFF;
        --bordernavbarcolor: solid 1px #f0f0f0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--DefineBgColor);
}

nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    margin: 0 auto;
    max-width: 550px;
    width: 550px;
    background-color: var(--DefineNavbarColor);
    border-radius: 100px;
    outline: var(--bordernavbarcolor);
    transition: 0.15s linear all;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

}

.navbarcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    height: 65px;
}

.nvtext {
    display: block;
    height: auto;
    text-decoration: none;
    width: 120px;
    text-decoration: none;
}

.nvtext img {
    width: 120px;
    display: block;
    height: auto;
}

.nvlinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nvlinks li {
    list-style: none;
}

.nvlinks li a {
    text-decoration: none;
    color: var(--TextColor);
    font-family: "lineseed", "sans-serif";
    line-height: 65px;
    border-bottom: solid 2px var(--borderHighlightColor);
    display: block;
}

#HighlightTextcontent {
    border: none;
    background-color: var(--EasyworkHighlight);
    color: var(--EasyworkHighlightColor);
    line-height: 1.5;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    transform: translateX(10px);
    transition: ease-out 0.3s all;
}

#HighlightTextcontent:hover {
    color: var(--HoverHGColor);
    background-color: var(--HoverHGbg);
}

#HighlightTextcontent:active {
    scale: 70%;
}